$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/sweetalert2/src/sweetalert2.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$boxBg: #f5f5f5 !default;
$red: #d32f2f !default;
$gray: #bdbdbd !default;
$gray-light: #212121;
$yellow: #fdc113 !default;

// Color palette
$white: #ffffff !default;
$primary: #f44336 !default;
$dark-primary: #d32f2f !default;
$light-primary: #ffcdd2 !default;
$accent: #ffc107 !default;
$primary-text: #212121 !default;
$secondary-text: #757575 !default;
$divider: #bdbdbd !default;

body {
    font-family: 'Roboto', sans-serif;
}

.titles {
  font-size: 25px;
  color: $gray;
}

.titles-primary{
  color: $primary !important;
}

.title-menu{
  color: $primary;
  font-size: 15px;
  font-variant: small-caps;
}

.thumbnail-menu{
  border-radius: 0px;
  border-style: solid;
  height: 250px;
  padding: 10px;

}
.thumbnail-button{
  vertical-align: bottom;
}
.thumbnail-desc{
  font-size: 14px;
  color: $primary-text;
  font-weight: 300;
}

.ciclo{
  background-color: $dark-primary;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
}

.ciclo-day{
  float: left;
  list-style: none;
  margin: 0px;
  padding: 15px 50px;
}

.swal2-title {
  color: $dark-primary !important;
}

.swal2-buttonswrapper > button:first-child{
  background-color: $accent !important;
  border-color: $accent !important;
  font-weight: 300 !important;
  color: $white !important;
  border: 0px !important;
  border-radius: 0px !important;
  outline: none;
  &:hover {
    background-color: darken($yellow, 5%) !important;
    border-color: darken($yellow,5%) !important;
    color: darken($white,5%) !important;
  }
  &:active {
    background-color: darken($accent, 15%) !important;
    border-color: darken($accent, 15%) !important;
    color: darken($white,15%) !important;
  }
}

.p-t-30{padding-top: 30px;}

.box{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid $boxBg;
}

.login,
.loginBox {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox {
    flex-direction: column;
    justify-content: center;
    @media (min-width: 992px) {
      min-height: 436px;
      width: 560px;
      height: 436px;
    }
}

.loginBox__title {
    font-size: 36px;
    color: $dark-primary;
    font-weight: 700;
}
.loginBox__title--modal{
  font-size: 30px;
  color: $dark-primary;
  font-weight: 700;
  padding: 0 0 0 40px;
}
.loginBox__title--welcome{
  font-size: 36px;
  color: $dark-primary;
  font-weight: 700;
  margin-top: -3px;
  padding-bottom: 30px;
}


.input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $primary-text;
    font-weight: 300;
    @media (min-width: 992px) {
        width: 273px;
    }
}

.input--block{
  width: 100%
}

.btn{
  outline: none !important;
  text-decoration: none !important;
}
.btn--size{
  padding: 10px 12px;
}

.btn--fs20 {
    font-size: 20px;
}
.btn--fs15 {
    font-size: 15px;
}

.btn--medium {
  width: 195px;
}
.btn--large{
  width: 250px;
}


.btn--link {
    font-size: 15px;
    color: $secondary-text;
    font-weight: 300;
}

.btn--yellow {
    background-color: $accent;
    font-weight: 700;
    color: $white !important;
    &:hover {
      background-color: darken($yellow, 5%);
      color: darken($white,5%);
    }
    &:active {
      background-color: darken($accent, 15%);
      color: darken($white,15%);
    }
    &:active {
      background-color: darken($accent, 25%);
      color: darken($white,15%);
    }
}
.radius{
  border-radius: 0px;
}

.navContainer {
  background-color: $dark-primary;
  height: 70px;
}
.navContainer__logo {
  padding-top: 0;
  display: none;
}
.navContainer__logo--center {
  position: absolute !important;
  left: calc(50% - 70px) !important;
  display: block;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;

  }
}

.modal-dialog--pass{
    width: 560px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content--pass{
  border-radius: 0px;
  border-color: $boxBg;
  padding: 35px 80px;
}
.modal-dialog--admin {
    width: 725px;
    margin: 30px auto;
}
.modal-content--radius{
  border-radius: 0px;
  border-color: $boxBg;
  padding: 15px;
}

.text-body{
  font-weight: bold;
  font-size: 14px;
}
.text-area{
  overflow: auto;
  resize: none;
  height: 16em;
  width: 38em;
  margin-bottom: 20px;
  border: 2px solid #f2f2f2;
}
.close-modal{
  position: relative;
  top:-35px;
  right: 17px;
  font-size: 35px;
}
.close-modal--admin{
  position: relative;
  right: 17px;
  font-size: 35px;
}
.modal-header--user{
  margin-top: 10px;
  padding-top: 20px;
}
.modal-header--admin{
  background: #f2f2f2;
}
.btn--modal{
  font-size: 15px;
  width: 200px;
  right: 5px;
  position: relative;
  padding-bottom: initial;
}
.modal-body--pad{
  padding-bottom: 55px;
}

.m-b-30{
  margin-bottom: 30px;
}

.m-b-40{
  margin-bottom: 40px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.form-group--error {
  position: relative;
}
#email-error,
#password-error,#confirmpassword-error,#resetemail-error {
  display: inline-table;
  position: absolute;
  left: 0px;
  font-weight: 400;
  color: $dark-primary;
}
.welcome,
.welcomeBox{
  margin-top:110px;
  }
.text-body--welcome{
    font-weight: bold;
    font-size: 14px;
    padding-top: 30px;
}

.img,
.imgBox{
    display: block;
    margin: auto;
    width: 60%;
    padding-bottom: 20px;
    padding-top: 30px;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
    background-color: #f2f2f2;
    box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.1), 4px 1px 5px 0 rgba(0, 0, 0, 0.3);
}
.loginBox__title--modal{
  font-size: 30px;
  color: $dark-primary;
  font-weight: 700;
  padding: 0 0 0 40px;
}

.img-circle--avatar {
  height: 40px;
}

#fullname {
  margin-right: 10px;
}

.navbar-default {
  .navbar-nav {
    > li {
      > a {
        color: $white;
        font-size: 16px;
        transition: all .35s ease;
        &:hover {
          background-color: darken($dark-primary, 10%);
          color: darken($white, 10%);
        }
        &:focus {
          color: $white;
        }
        &:hover:focus {
          color: darken($white, 10%);
        }
      }
    }
    > .open {
      > a,
      > a:hover,
      > a:focus {
        background-color: darken($dark-primary, 10%);
        color: darken($white, 10%);
      }
    }
  }
}
