$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$boxBg: #f5f5f5 !default;
$red: #d32f2f !default;
$gray: #bdbdbd !default;
$gray-light: #212121;
$yellow: #fdc113 !default;
$white: #ffffff !default;

body {
    font-family: 'Roboto', sans-serif;
}

.login,
.loginBox {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex-direction: column;
    justify-content: center;
    @media (min-width: 992px) {
      min-height: 436px;
        width: 560px;
        height: 436px;
    }
}

.loginBox__title {
    font-size: 36px;
    color: $red;
    font-weight: 700;
}

.input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $gray;
    font-weight: 300;
    @media (min-width: 992px) {
        width: 273px;
    }
}

.btn--fs20 {
    font-size: 20px;
}

.btn--medium {
  width: 195px;
}

.btn--link {
    font-size: 15px;
    color: $gray-light;
    font-weight: 300;
}

.btn--yellow {
    background-color: $yellow;
    font-weight: 700;
    color: $white;
    &:hover {
      background-color: darken($yellow, 15%);
    }
    &:active {
      background-color: darken($yellow, 25%);
    }
}

.navContainer {
  background-color: $red;
  height: 70px;
}
.navContainer__logo {
  padding-top: 0;
}
